.App {
  text-align: center;
  /* font-family: 'Tenor Sans', sans-serif; */
}


@media only screen and (max-width: 768px) {

  #projectPic, #sayhey {
    width: 90% !important;
  }
  
  .active {
    color: white !important;
    font-weight: bold !important;
    text-decoration: underline !important;
    background-color: transparent !important;
  }
  
  nav.navbar {
    background-color: #40e0da;
    border: none;
  }

  #socialnav {
    margin-top: 50px;
  }
  .nav-link:hover {
    color: white !important;
    font-weight: bold !important;
    text-decoration: underline !important;
  }

  #sayhello {
    color: white !important;
    background-color: black !important;
    margin-bottom: 50px;
  }

  #sayhello:hover {
    color: #40e0da !important;
  }

  #gitBtn {
    background-color: white !important;
    color: black !important;
    font-size: 18px !important;
    border: none !important;
  }

  #gitBtn:hover {
    color: #40e0da !important;
  }
  #navgirl {
    display: block !important;
    position: absolute;
    left: 50%;
    width: 70vw;
    margin-left: -35vw;
    bottom: 0;
  }
  .nav-item {
    margin: 10px 0 !important;
    z-index: 5;
  }
  /* .collapse {
    background-color: white;
    height: calc(100vh - 50px);
    margin: 0 -16px -8px;
  } */
}

.navigation {
  background-color: white;
  border-bottom: solid 2px;
  color: black;
}

.nav-link {
  color: black;
  margin: auto;
/* background-color: white;
width: fit-content;
border-radius: 5px; */
}

.nav-link:hover {
  color: #40e0da;
  font-weight: bold;
  text-decoration: underline;
}

#sayhello {
  color: black;
  background-color: #40e0da;
  border: none;
}

#sayhellopic {
  height: 26px;
}

#sayhello:hover {
  color: #40e0da;
  background-color: black;
}

#gitBtn, #gitProjBtn {
  background-color: #40e0da;
  font-size: 18px;
  border: none;
}

#gitBtn:hover {
  color: black;
}

#liBtn, #webProjBtn {
  background-color: black;
}

#liBtn:hover {
  color: #40e0da;
}
#navgirl {
  display: none;
}
/* .collapse {
  background-color: white;
} */
.fa-bars {
  color: white;
}

.active {
  color: white;
  background-color: black;
  width: fit-content;
  border-radius: 5px;
}
.active:hover {
  font-weight: normal;
  color: white;
}

.textTitle {
  font-size: 22px;
  font-weight: bold;
}
.textSubB {
  font-size: 18px;
  font-weight: bold;
}

.textSub {
  font-size: 16px;
}

.textContent {
  font-size: 14px;
}

.contactLink {
color: black;
  font-weight: bold;
}
.contactLink:hover {
  color: #40e0da;
  text-decoration: none;
}

#contactCard, #aboutCard {
  border: solid 5px #40e0da;
}

#aboutbio {
  height: 50vh;
  text-align: left;
}