.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heroLG {
  height: auto;
  width: 100%;
}

.heroSM {
  display: none;
  height: auto;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .heroLG {
    display: none;
  }

  .heroSM {
    display: block;
  }
  nav.navbar {
    background-color: #40e0da;
    border-bottom: solid 2px;
    color: black;
  }
}

.navigation {
  background-color: white;
  border-bottom: solid 2px;
  color: black;
}

#navLink {
  color: black;
}

#navLink:hover {
  color: #40e0da;
  font-weight: bold;
  text-decoration: underline;
}

#sayhello {
  color: black;
  background-color: #40e0da;
  border: none;
}

#sayhello:hover {
  color: #40e0da;
  background-color: black;
}

#gitBtn {
  background-color: #40e0da;
  font-size: 18px;
  border: none;
}

#gitBtn:hover {
  color: black;
}

#liBtn {
  background-color: black;
}

#liBtn:hover {
  color: #40e0da;
}

#heroBG {
  background-image: url(./assets/images/portfolio/heropageBG.png) cover;
}
